// основные цвета
$green: #4bb462;
$white: #ffffff;
$black: #231f20;
$violet: #a771fe;
$lime: #c5f25f;
$blue: #3f188a;

// основные размеры
$maxWidth: 1366px;
$commonSpace: 20px;

//mixins
@mixin button {
    border-radius: 30px;
    padding: 10px, 20px, 10px, 20px;
}

@mixin buttonHover {
    cursor: pointer;
    background-color: $black;
}
//стили общие
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial ,sans-serif;
}

.container {
    max-width: $maxWidth;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

//стили для шапки
